@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* 
    - On this css file i will be using mobile~first workflow then jumps to laptop design
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);

  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);

  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  color: var(--Very-Dark-Blue);
}
p {
  font-size: 16px;
}
/*  
    - First style the navbar then main then footer 
*/

/* Add margins to :
    navbar , main , footer 
*/

/* header,
nav,
main,
footer {
  margin: 2rem 0;
} */

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav img {
  width: 100px;
  margin-right: 1.5rem;
}
/*  Remove decoration form links , and lists */
a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav ul {
  column-count: 3;
  column-gap: 10px;
}

nav ul li {
  font-size: 15px;
  margin-left: 5px;
  font-weight: 500;
  padding: 10px;
}

h1,
h2,
p {
  margin: 1rem auto;
  width: 60%;
  text-align: center;
}

/* To style the button */

/* main partition */
main {
  text-align: center;
}

.first-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section img {
  width: 450px;
  margin: 5rem auto;
}
.first-section :last-child {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.first-section :last-child p {
  margin: 2.5rem 0;
}

button {
  cursor: pointer;
  text-align: center;
}
.first-section div button,
.first-section div input {
  width: 350px;
  padding: 15px;
  margin: 7.5px 0;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-family: "Raleway", sans-serif;
  outline: none;
}

.first-section div input {
  border: 1px solid var(--Desaturated-Blue);
}

.first-section div input::placeholder {
  color: var(--Light-Gray);
}
.first-section div button {
  border: none;
  color: var(--Light-Grayish-Blue);
  background-color: var(--Bright-Blue);
  font-weight: 600;
}
main :first-child h2 {
  margin: 1rem;
}

.sec-2 {
  background-color: var(--Light-Grayish-Blue);
}

.sec-2 section {
  padding: 8rem 0;
}
.stay-active h2 {
  width: 100%;
}
.stay-active p {
  width: 80%;
  text-align: left;
  line-height: 1.5;
  margin: 0.5rem auto;
  color: var(--Desaturated-Blue);
}

.how-it-works {
  padding: 0.5rem;
  border-bottom: 2px solid var(--Moderate-Cyan);
  margin: 3.5rem auto;
  width: max-content;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.how-it-works img {
  width: 30px;
  display: inline;
  position: relative;
  top: 10px;
  left: 5px;
  margin: 0;
  padding: 0;
}

.how-it-works a {
  color: var(--Moderate-Cyan);
}

.card {
  width: 450px;
  font-size: smaller;
  margin: 1rem auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: white;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px #d4d4d4;
}

.card div {
  margin: 0;
  padding: 0;
}

.card > div img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.card p {
  text-align: left;
  width: 100%;
  font-weight: bold;
  line-height: 2;
}

.founder-testimonial {
  display: flex;
  align-items: center;
}

.founder-testimonial img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.founder-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 1.5rem;
}

.founder-info p {
  font-weight: bold;
  position: relative;
  line-height: 0;
}

.access-section {
  color: white;
  background-color: var(--Desaturated-Blue);
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
}

.access-section h2 {
  width: 100%;
}

.access-section p {
  width: 80%;
  margin: 1rem auto;
}

.access-section form button,
.access-section form input {
  width: 350px;
  padding: 15px;
  margin: 7.5px 0;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-family: "Raleway", sans-serif;
  outline: none;
}

.access-section form input {
  border: 1px solid var(--Desaturated-Blue);
}

.access-section form input::placeholder {
  color: var(--Light-Gray);
}
.access-section form button {
  border: none;
  color: var(--Light-Grayish-Blue);
  background-color: var(--Bright-Blue);
  font-weight: 600;
}

footer {
  background-color: var(--Very-Dark-Blue);
  padding: 1.5rem;
  margin: 0;
  font-weight: 400;
}

footer a,
footer span,
footer img {
  color: var(--Light-Gray);
}

.logo img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
.contact-container {
  margin: 1.5rem 0;
}

.contact-container div {
  margin: 1rem 0;
}

.contact-container div span {
  margin-left: 1rem;
}

.footer--nav li {
  margin: 1rem 0;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 0.5rem;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social-media a {
  position: relative;
  margin: 0 auto;
  /* top: 50%; */
}

/* Desktop design */

@media screen and (min-width: 1024px) {
  h1,
  h2,
  p {
    width: 70%;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .first-section {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .first-section-img {
    margin: 0 3.5rem;
    order: 1;
  }

  .first-section form input,
  .first-section form button {
    margin: 0 0.5rem;
  }

  .first-section form input {
    width: 350px;
    margin-left: 0;
  }
  .first-section form button {
    text-align: center;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    filter: opacity(85%);
    -webkit-filter: opacity(85%);
  }
  .first-section div :last-child {
    display: flex;
    flex-direction: row;
  }

  .sec-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bg {
    order: 1;
  }

  .sec-2 section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .stay-active {
    margin: 0;
    text-align: left;
    width: fit-content;
    position: relative;
  }

  .stay-active h2 {
    position: relative;
    width: 100%;
    left: 4.5rem;
  }

  .stay-active h2,
  .stay-active p {
    margin-bottom: 0;
    line-height: 1;
    color: var(--Very-Dark-Blue);
  }

  .how-it-works {
    position: relative;
    margin: 2rem 0;
    left: 5rem;
  }

  .how-it-works a:hover {
    filter: opacity(60%);
    -webkit-filter: opacity(60%);
  }

  .card {
    position: relative;
    margin: 0;
    left: 5rem;
  }

  .founder-info span {
    position: relative;
    top: 0.8rem;
  }

  .access-section {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .access-section h2 {
    position: relative;
    left: 4.3rem;
  }

  .access-section p {
    width: 80%;
    margin: 1px auto;
  }

  .access-section form button {
    width: 200px;
    position: relative;
    right: 4.7rem;
  }
}
