@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* 
    - On this css file i will be using mobile~first workflow then jumps to laptop design
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);

  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);

  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  color: var(--Very-Dark-Blue);
}
p {
  font-size: 16px;
}
/*  
    - First style the navbar then main then footer 
*/

/* Add margins to :
    navbar , main , footer 
*/

header,
nav,
main,
footer {
  margin: 1rem;
  padding: 1rem;
}

/*
    Navbar
    */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
  margin-right: 1.5rem;
}
/*  Remove decoration form links , and lists */
a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav ul {
  width: 90%;
  column-count: 3;
  column-gap: 10px;
}

ul li {
  font-size: 12px;
  margin: 0 5px;
  padding: 10px;
}

/* 
    header partition
*/
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  width: 300px;
  margin: 2.5rem 0;
}

header :nth-child(2) h1,
header :nth-child(2) p {
  margin: 1rem auto;
  width: 95%;
}

/* To style the button */

header :last-child {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

header div button,
header div input {
  width: 95%;
  padding: 15px;
  margin: 7.5px 0;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-family: "Raleway", sans-serif;
  outline: none;
}

header div input {
  border: 1px solid var(--Very-Dark-Blue);
}

header div input::placeholder {
  color: var(--Light-Gray);
}
header div button {
  border: none;
  color: var(--Light-Grayish-Blue);
  background-color: var(--Bright-Blue);
  font-weight: 600;
}


/* main partition */
main img {
  width: 300px;
}
