@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Hanken+Grotesk:wght@500;700;800&family=Raleway:wght@400;700&display=swap");

/* 
    - On this css file i will be using mobile~first workflow then jumps to laptop design
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
